body {
  margin: 0;
  padding: 0;
}
header {
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  h1 {
     color: black;
     margin: 0;
     padding: 0;
     text-align: center;
  }
}
main {
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 50px;
  .list-container {
     .item-container {
        align-items: center;
        border-color: lightgrey;
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        box-sizing: border-box;
        display: flex;
        height: 50px;
        margin-top: 10px;
        padding: 0 10px;
        .got-button {
           margin-left: 10px;
        }
        .info-label {
           flex: 1;
           font-size: 1em;
           margin-left: 5px;
           text-transform: uppercase;
           > input {
              margin-right: 10px;
           }
           &.death-text {
              color: #0392cf;
              font-style: italic;
              font-weight: bold;
              text-decoration: line-through;
           }
        }
        .got-input {
           flex: 1;
        }
     }
  }
  @media screen and (max-width: 800px) {
     margin-left: 10%;
     margin-right: 10%;
  }
  @media screen and (max-width: 600px) {
     margin-left: 10px;
     margin-right: 10px;
  }
}
footer {
  align-items: center;
  background-color: #ececec;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  bottom: 0;
  display: flex;
  height: 40px;
  padding: 10px;
  position: fixed;
  width: 100%;
  span {
     font-size: 1em;
  }
}

.action-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.got-inline-form {
  display: flex;
  .got-button {
     margin-left: 10px;
  }
}

.tabs-row {
  .got-radio {
     display: inline-block;
     &:first-child > label {
        border-radius: 5px 0 0 5px;
     }
     &:last-child > label {
        border-radius: 0 5px 5px 0;
     }
  }
}
.got-radio {
  input {
     position: absolute;
     opacity: 0;
     left: -9999px;
  }
  input:focus + label {
     outline: 1px dotted #212121;
     outline: 5px auto -webkit-focus-ring-color;
  }
  input:checked + label {
     background-color: #0392cf;
     color: #ecf0f1;
  }
  label {
     border-style: solid;
     border-color: #bdc3c7;
     border-width: 1px;
     box-sizing: border-box;
     color: black;
     cursor: pointer;
     height: 30px;
     padding: 5px 8px;
     user-select: none;
     text-align: center;
  }
}

.got-input {
  height: 30px;
  border-color: lightgrey;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-size: 1em;
  padding: 5px 10px;
}

.got-button {
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1em;
  height: 30px;
  padding: 5px 10px;
  &.edit {
     background-color: #7bc043;
     color: white;
  }
  &.remove {
     background-color: #ee4035;
     color: white;
  }
  &.save {
     background-color: #0392cf;
     color: white;
  }
  &.cancel {
     border: 1px solid lightgrey;
  }
  &:disabled {
     background-color: lightgray;
  }
}

.got-no-results {
  background: grey;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  > span {
     color: white;
     font-size: 18px;
     text-transform: uppercase;
     > strong {
        color: lightgrey;
     }
  }
}
